<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\davee\OneDrive\Documents\code\TournamentTracker\dataFiles"/>
  </appSettings>
  <connectionStrings>
    <add name="TournamentTracker" 
         connectionString="Server=tcp:sqlserver2020tutorials.database.windows.net,1433;Initial Catalog=TournamentTracker;Persist Security Info=False;User ID=admin.tutorials;Password=**********;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>